<div class="container mt-3">
    <div>
        <h2>CentOS Remix</h2>

        <div>
            <hr class="my-4" />
        </div>

        <h4>Purpose</h4>
        <p>
            This project is a CentOS Stream Remix (like a <a href="https://fedoraproject.org/wiki/Remix" target="_blank">Fedora Remix</a>) 
            and aims to offer a complete system for multipurpose usage with localization support.
            You can build a live image and try the software, and then install it in your PC if you want.
        </p>
        Other goals of this remix are:
        <ul>
            <li>common extra-repos</li>
            <li>multimedia apps</li>
            <li>office automation support (printers and scanners)</li>
            <li>and more...</li>
        </ul>
        <div class="alert alert-info" role="alert">
            <h5 class="alert-heading">Why CentOS Stream?</h5>
            <p>
                CentOS Stream is a solid LTS operating system which offers sofware for many purposes. It is flexible enough to get
                a custom version by using the installer
                (<a href="https://en.wikipedia.org/wiki/Anaconda_(installer)" target="_blank">see here for more details</a>).
                The build process can be described through Kickstart files and can be modified to get new variants.
            </p>
        </div>
    </div>

   <div>
       The project is very similar to the <a href="fedora-remix.html" target="_blank">Fedora Remix</a> twin.
       The main difference is that Fedora is focused on innovation and latest software, while CentOS is focused on stability
       and long term support.
   </div>

</div>