<section class="jumbotron text-center py-4">
    <div class="container">
        <h1 class="jumbotron-heading">Massi <small>(aka &varepsilon;rgosum)</small> GitHub corner</h1>
        <p class="h4 text-muted"><i class="fas fa-code-branch"></i> Linux, coding, something else...</p>
    </div>
</section>

<div class="container py-1">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-6 col-12">
            <div class="card h-100">
                <img class="card-img-top" src="img/fedora-kde-workstation.jpg" alt="Fedora remix image">
                <div class="card-body">
                    <p class="card-text">
                        <img src="https://flagcdn.com/24x18/gb.png" alt="English flag"> My <a href="https://fedoraproject.org/wiki/Remix" target="_blank">Fedora Remix</a>, a customization of the distro
                        for multipurpose usage with localization support.
                    </p>
                    <p>
                        <img src="https://flagcdn.com/24x18/it.png" alt="Bandiera italiana"> Il mio
                        <a href="https://fedoraproject.org/wiki/Remix" target="_blank">Fedora Remix</a>, una personalizzazione della distro
                        con diverse funzionalit&agrave; e supporto per l'italiano.
                    </p>
                </div>
                <div class="card-footer text-middle">
                    <div class="btn-group">
                        <a href="https://github.com/mbugni/fedora-remix" target="_blank" class="btn btn-sm btn-outline-secondary"><i class="fab fa-github"></i> Explore</a>
                        <a href="fedora-remix.html" target="_blank" class="btn btn-sm btn-outline-secondary">More info <i class="fas fa-angle-double-right pl-1"></i></a>
                    </div>
                    <span class="float-right text-muted">Linux/Fedora</span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-12">
            <div class="card mb-4 h-100">
                <img class="card-img-top" src="img/centos-gnome-workstation.jpg" alt="CentOS remix image">
                <div class="card-body">
                    <p class="card-text">
                        <img src="https://flagcdn.com/24x18/gb.png" alt="English flag"> Another customized distro with localization support:
                        CentOS Stream Remix.
                    </p>
                    <p>
                        <img src="https://flagcdn.com/24x18/it.png" alt="Bandiera italiana"> Un'altra distro personalizzata con supporto
                        per l'italiano: CentOS Stream Remix.
                    </p>
                </div>
                <div class="card-footer text-middle">
                    <div class="btn-group">
                        <a href="https://github.com/mbugni/centos-remix" target="_blank" class="btn btn-sm btn-outline-secondary"><i class="fab fa-github"></i> Explore</a>
                        <a href="centos-remix.html" target="_blank" class="btn btn-sm btn-outline-secondary">More info <i class="fas fa-angle-double-right pl-1"></i></a>
                    </div>
                    <span class="float-right text-muted">Linux/CentOS</span>
                </div>
            </div>
        </div>
    </div>
</div>