
<div class="container">
    <div class="row pt-3 pb-3 rounded-3">
        <div class="col-2">
            <img src="https://avatars.githubusercontent.com/u/14926724" class="rounded-circle img-fluid" alt="Myself picture">
        </div>
        <div class="col-10">
            <h1>Massi aka Ergosum</h1>
            <p class="h2 text-muted"><i class="bi bi-git"></i> Linux, coding, something else...</p>
            <div class="btn-group mt-3">
                <a href="https://gitlab.com/mbugni" target="_blank" class="btn btn-lg btn-outline-secondary"><i class="bi bi-gitlab"></i> GitLab</a>
                <a href="https://github.com/mbugni" target="_blank" class="btn btn-lg btn-outline-secondary"><i class="bi bi-github"></i> GitHub</a>
            </div>
        </div>
    </div>
</div>

<div class="container py-1">

    <h2 class="mt-5">Projects I love</h2>

    <hr class="my-4"/>

    <div class="row">
        <div class="col-5">
            <img src="img/xbiont.png" class="img-fluid" alt="Xbiont Live Image">
        </div>
        <div class="col-7">
            <h3>Xbiont - The Linux symbiont</h3>
            <p>
                Linux is a digital ecosystem: the symbiont helps to create a personalized and functional environment.
                <br>
                Main goals of the symbiont are:
                <ul>
                    <li>Building and installing the system through an image</li>
                    <li>Keep the system homeostatic (balanced and stable)</li>
                    <li>Facilitating interaction with humans</li>
                    <li>Expanding the system usage (extra-repos, support for external devices)</li>
                    <li>Survive and evolve</li>
                </ul>
            </p>
            <div class="btn-group">
                <a href="https://gitlab.com/mbugni/xbiont" target="_blank" class="btn btn btn-outline-secondary"><i class="bi bi-gitlab"></i> Explore</a>
            </div>
        </div>
    </div>

    <hr class="my-4"/>

    <div class="row">
        <div class="col-7">
            <h3>BitBox - AI is the current (eternal) hype</h3>
            <p>
                This is a containerized development environment for BitNet.
                <br>
                Optimize for your local machine and make the use of 1.58-bit inference easier.
            </p>
            <div class="btn-group">
                <a href="https://gitlab.com/mbugni/bitbox" target="_blank" class="btn btn btn-outline-secondary"><i class="bi bi-gitlab"></i> Explore</a>
            </div>
        </div>
        <div class="col-5">
            <div class="ratio ratio-16x9">
                <img src="img/bitbox.png" class="img-fluid" alt="BitBox">
            </div>
        </div>
    </div>

    <hr class="my-4"/>

    <div class="row">
        <div class="col-5">
            <div class="ratio ratio-16x9">
                <img src="https://flatpak.org/img/apps-illustration.svg" alt="Flatpak apps">
            </div>
        </div>
        <div class="col-7">
            <h3>Flatpak - The Linux apps standard</h3>
            I'm the maintainer of different Flatpak apps:
            <p>
            &nbsp;
            </p>
            <div id="flatpakCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner" style="height: 300px;">
                    <!-- Doom Runner -->
                    <div class="carousel-item active">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <img class="w-50 h-100 object-fit-cover" alt="Doom Runner"
                                src="https://imgproxy.flathub.org/insecure/dpr:2/f:avif/rs:fill-down/aHR0cHM6Ly9kbC5mbGF0aHViLm9yZy9tZWRpYS9pby9naXRodWIvWW91ZGEwMDguRG9vbVJ1bm5lci84YWQ5MzM0NzkxOWUxZmE5YWU3ODI4YzA3YjhlNWY4Yy9zY3JlZW5zaG90cy9pbWFnZS0xX29yaWcucG5n">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="btn-group">
                                <a href="https://flathub.org/it/apps/io.github.Youda008.DoomRunner" target="_blank" class="btn btn-primary">Doom Runner</a>
                            </div>
                        </div>
                    </div>
                    <!-- RBDoom3BFG OpenGL -->
                    <div class="carousel-item">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <img class="w-75 h-100 object-fit-cover" alt="RBDoom3BFG OpenGL"
                                src="https://imgproxy.flathub.org/insecure/dpr:2/f:avif/rs:fill-down/aHR0cHM6Ly9kbC5mbGF0aHViLm9yZy9tZWRpYS9pby9naXRodWIvUm9iZXJ0QmVja2ViYW5zLlJCRG9vbTNCRkctR0wvMTIyOTdjMjBkYzc1YmYzZmM4YmZlNjFjMmUxZjg3OTIvc2NyZWVuc2hvdHMvaW1hZ2UtMV9vcmlnLnBuZw">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="btn-group">
                                <a href="https://flathub.org/it/apps/io.github.RobertBeckebans.RBDoom3BFG-GL" target="_blank" class="btn btn-primary">RBDoom3BFG OpenGL</a>
                            </div>
                        </div>
                    </div>
                    <!-- Total Chaos -->
                    <div class="carousel-item">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <img class="w-75 h-100 object-fit-cover" alt="Total Chaos"
                                src="https://imgproxy.flathub.org/insecure/dpr:2/f:avif/rs:fill-down/aHR0cHM6Ly9kbC5mbGF0aHViLm9yZy9tZWRpYS9jb20vbW9kZGIvVG90YWxDaGFvcy9jYTZlMWZkNTUxYzI4YzlmZmE0YzQ4NGQ1NDk5MzA2ZS9zY3JlZW5zaG90cy9pbWFnZS0xX29yaWcucG5n">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="btn-group">
                                <a href="https://flathub.org/it/apps/com.moddb.TotalChaos" target="_blank" class="btn btn-primary">Total Chaos</a>
                            </div>
                        </div>
                    </div>
                    <!-- Total Chaos Retro -->
                    <div class="carousel-item">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <img class="w-75 h-100 object-fit-cover" alt="Total Chaos Retro"
                                src="https://imgproxy.flathub.org/insecure/dpr:2/f:avif/rs:fill-down/aHR0cHM6Ly9kbC5mbGF0aHViLm9yZy9tZWRpYS9jb20vbW9kZGIvVG90YWxDaGFvc1JldHJvL2I3MzMxODNlZWE4YWMyZDJkMGViNWUzMWFhZDZmYWU1L3NjcmVlbnNob3RzL2ltYWdlLTFfb3JpZy5wbmc">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="btn-group">
                                <a href="https://flathub.org/it/apps/com.moddb.TotalChaosRetro" target="_blank" class="btn btn-primary">Total Chaos Retro</a>
                            </div>
                        </div>
                    </div>
                    <!-- Gods Deluxe -->
                    <div class="carousel-item">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <img class="w-75 h-100 object-fit-cover" alt="Gods Deluxe"
                                src="https://imgproxy.flathub.org/insecure/dpr:2/f:avif/rs:fill-down/aHR0cHM6Ly9kbC5mbGF0aHViLm9yZy9tZWRpYS9pby9naXRodWIvam90ZDY2Ni5nb2RzLWRlbHV4ZS8xMzcwZTRkNzBmNTMzYmMzNzdjMDgyNDZhMjAyNjhmYi9zY3JlZW5zaG90cy9pbWFnZS0xX29yaWcucG5n">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="btn-group">
                                <a href="https://flathub.org/it/apps/io.github.jotd666.gods-deluxe" target="_blank" class="btn btn-primary">Gods Deluxe</a>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#flatpakCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#flatpakCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>